* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Comfortaa; 
    color: #a5a5a5ff;
}

#result {
    text-align: center;
    font-size: 30px; 
    font-weight: bolder;
    margin: 30px; 
    height: 30px;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    text-align: center;
    padding: 10px;
}

.computer-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rock-colour {
    color: #7eaccc;
}

.paper-colour {
    color: #cc7eac;
}

.scissors-colour {
    color: #accc7e;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 70px; 
    font-weight: 900;
}

.score {
    font-size: 60px; 
}

p {
    font-size: 20px;
    font-weight: 100;
}

button {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    height: 120px;
    width: 120px;
    color: #fff;
    font-size: 20px;    
    font-family: Comfortaa;
    border: none;
    border-radius: 50%;
}

button.again {
    margin: 0;
    height: 75px;
    width: 75px;
    font-size: 15px;
    background-color: #a5a5a5ff;
    display: none;
}

#computer-choice, #comp-rock, #comp-paper, #comp-scissors {
    margin-top: 30px;
    background-color: #a5a5a5ff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;    
    font-family: Comfortaa;
}

#comp-rock, #comp-paper, #comp-scissors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

button.blue, #comp-rock {
    background-color: #7eaccc;
}

button.blue:active {
    background-color: #3796da;
}

button.pink, #comp-paper {
    background-color: #cc7eac;
}

button.pink:active {
    background-color: #c72f88;
}

button.green, #comp-scissors {
    background-color: #accc7e;
}

button.green:active {
    background-color: #8bca31;
}

